---
import CtaGlow from "@/docs/components/cta/CtaGlow.astro";
import FeatureGrid from "@/docs/components/features/FeatureGrid.astro";
import Hero from "@/docs/components/hero/Hero.astro";
import Testimonials from "@/docs/components/testimonials/Testimonials.astro";
import { defaultLocale } from "@/docs/config/siteSettings.json";
import { docsRoute } from "@/docs/js/docsUtils";
import { getLocaleFromUrl } from "@/docs/js/localeUtils";
import { getLocalizedRoute, getTranslatedData } from "@/docs/js/translationUtils";
import BaseLayoutDocs from "@/docs/layouts/BaseLayoutDocs.astro";

export async function getStaticPaths() {
	// replace any starting or ending slashes, then remove anything before the first slash remaining if necessary
	const localizedDocsRoute = docsRoute
		.replace(/^\/|\/$/g, "")
		.replace(/^[^/]+\//, "");

	return [
		{
			params: { docsRoute: localizedDocsRoute },
		},
	];
}

const currLocale = getLocaleFromUrl(Astro.url);
const siteData = getTranslatedData("siteData", currLocale);
---

<BaseLayoutDocs title={siteData.title} description={siteData.description}>
	<main class="overflow-hidden">
		<Hero />
		<FeatureGrid />
		<Testimonials />
		<CtaGlow
			title="Ready to build your documentation?"
			description="Get started with Pathfinder today and create beautiful, maintainable documentation that your users will love."
			primaryLink={`/${docsRoute}/getting-started`}
			githubLink="https://github.com/Boston343"
		/>
	</main>
</BaseLayoutDocs>